[Unit]
Description=Configure the Firefox Flatpak
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/firefox-flatpak-configuration
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target
