[Unit]
Description=Append user to plugdev group to make Yubikey udev rules work for Filotimo

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/plugdev-append

[Install]
WantedBy=multi-user.target
