[Unit]
Description=Sets GRUB to visible on boot and hidden on shutdown for Filotimo - on a force shutdown GRUB will show on next boot for system image rollback

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/set-grub-visibility visible
ExecStop=/usr/libexec/set-grub-visibility invisible

[Install]
WantedBy=multi-user.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target halt.target reboot.target shutdown.target
