[Unit]
Description=Workaround to allow the installation of SDDM themes for Filotimo
RequiresMountsFor=/usr/share/sddm/themes /var/sddm_themes/themes /var/sddm_themes/themes.work

[Mount]
Type=overlay
What=overlay
Where=/usr/share/sddm/themes
Options=lowerdir=/usr/share/sddm/themes,upperdir=/var/sddm_themes/themes,workdir=/var/sddm_themes/themes.work

[Install]
WantedBy=multi-user.target
