[Desktop Entry]
Hidden=true
Name=Restart to Windows
Comment=Restart to your Windows installation
Type=Application
Terminal=false
Icon=folder-windows-symbolic
Exec=sh -c "pkexec /usr/bin/boot-to-windows"
Categories=Utility;
