# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2025 Thomas Duckworth <tduck@filotimoproject.org>
[Desktop Entry]
Type=Service
TryExec=AppImageLauncherSettings
Exec=AppImageLauncherSettings
Icon=AppImageLauncher
X-KDE-Weight=1
X-KDE-ServiceTypes=SystemSettingsExternalApp
X-KDE-System-Settings-Parent-Category=applications
X-KDE-ParentApp=systemsettings
Name=AppImage Behavior
Name[en_GB]=AppImage Behaviour
Comment=AppImageLauncher configuration
X-KDE-Keywords=appimage,appimagelauncher,appimages
