[Unit]
Description=Dynamic memory tweaks for Filotimo
Before=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/memory-tweaks

[Install]
WantedBy=multi-user.target
